/*Fügt einen Schatten hinzu und setzt es an die richtige Stelle*/
.login-bg {
    height: auto;
    width: auto;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 5% 5% 3% 5%;
}

/*editiert die grösse und margin des Bildes*/
#login-pic {
    width: 200px;
    height: auto;
    margin-bottom: 4%;
}

/*fügt unten margin hinzu*/
#welcoming-text {
    margin-bottom: 3%;
}

/* nimmt margin vom Body weg*/
body{
    margin: 0;
}

/*fügt oben margin hinzu*/
.register-link {
    margin-top: 2%;
}
/*fügt unten margin hinzu*/
.login-btn {
    margin-bottom: 2%;
}

