/*vergrössert die SChrift*/
.titles1{
    font-size: 25px;
}

/*Fügt einen Schatten hinzu und setzt es an die richtige Stelle*/
.edit-bg {
    height: auto;
    width: auto;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

/*gibt den bild einen Schatten und setzt es in die richtige Grösse*/
#profile-pic {
    width: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 25px -8px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}
/*macht es Blau*/
.bluecolor{
    color: blue;
}

/*Das Objekt bekommt die Grösse des nächst obern divs*/
#textarea-full{
    width: 100%;
}